
<div id="pantalla-reproductor"></div>
<div id="container">
    <div id="cover-container">
        <div id="icon-continer">
            <figure class="main-icon">
                <img src="static/img/icon.svg" />
            </figure>
            <p class="title-app">Torrent<span class="bold">Play</span></p>
        </div>
        <p class="text-main">
            introduce un magnet link o selecciona un archivo torrent y pulsa play para 
comenzar la reproduccion
        </p>
        <div id="search-box-tp">
            <div class="search-input-cover">
                <div class="input-zone">
                    <div class="cover">
                        <div class="input-cover">
                            <figure class="thumb">
                                <i class="divx247-icons">magnet</i>
                            </figure>
                            <div class="cover-input-t">
                                <input type="text" id="mltp" placeholder="magnet url...">
                            </div>
                        </div>
                        
                    </div>
                    <div class="line-boton-torrent">
                        <div class="boton-torrent" id="select-torrent">
                            <figure class="icon">
                                <img src="static/img/torrent.svg" />
                            </figure>
                            <div class="label">
                                <p>
                                    selecciona un archivo .torrent
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <figure class="icon" id="play-torrent">
                    <i class="divx247-icons">play</i>
                </figure>
            </div>
        </div>
    </div>
</div>