#banner-update{
    

    & > .controls{
        height:35px;
        padding-top:18px;
        
        
        & > .boton{
            float:right;
            margin-left:12px;
            height:100%;
            border-radius: 8px;
            background-color:rgba(black,.64);
            //border: solid 1px rgba(100,100,100,0.7);
            display:flex;
            align-items: center;
            padding-left:2px;
            color:white;
            cursor:pointer;
            @include animacion(250ms,ease-in);

            &:hover{
                //border:solid 1px rgba(white,0.7);
                box-shadow: 0px 0px 12px 1px rgba($enfasis,.75);
                color:white;
                background-color:rgba($enfasis,0.64);
            }
            & > .icono{
                
                box-sizing: border-box;
                height:33px;
                width:33px;
                float:left;
                border-radius: 60%;
                //border:solid 1px rgba(white,.7);
                display: flex;
                align-items: center;
                
                justify-content: center;
                & > i{
                    
                    font-size:15px;
                    color:inherit;
                }
            }
            & > .label{
                
                height:100%;
                display: flex;
                align-items: center;
                padding-left:6px;
                padding-right:16px;
                color:inherit;
                font-weight: 300;
                font-size:12px;
                float:left;
            }
        }
    }
}