#list-creator{
    /*position:absolute;
    bottom:0;
    width:100%;
    height:auto;
    padding-bottom:45px;*/
    height:100%;
    position:absolute;
    justify-content: center;
    width:100%;
    top:-83px;
    box-sizing: border-box;
    z-index:3;

    & > .titulo{
        font-size:18px;
        font-weight: bold;
        color:white;
        text-shadow: 0px 0px 10px rgba(255,255,255,0.7);
        text-align: center;
        margin-bottom:10px;
    }

    & > .marco-add-perfil{
        padding-top:7px;
        padding-bottom:25px;
        height:211px;
        display: flex;
        align-items: center;
        justify-content: center;

        & > .item-add-perfil{
            height:100%;
            width:380px;
            border-radius: 25px;
            background-color:rgba(black,.64);
            
            & > .imagen{
                height:121px;
                width:121px;
                float:left;
                overflow:hidden;
                padding: 21px;
                box-sizing: border-box;
                & > img{
                    border-radius: 60%;
                    @include img(100%,100%);
                }
            }

            & > .marco-form-add-perfil{
                
               
                height:100%;
                box-sizing:border-box;
                padding:12px;
                
                padding: 21px;
                padding-left:40px;
                padding-right: 40px;
                &  .linea{
                    height:28px;
                    margin-bottom:10px;
                    &[data-tipo="input"]{
                        background-color:rgba(black,.64);
                        border-radius: 20px;
                    }
                    &[data-tipo="textarea"]{
                        background-color:rgba(black,.64);
                        border-radius: 10px;
                        height:80px;
                        margin-bottom:20px;
                        & > textarea{
                            appearance: none;
                            outline:0;
                            height:100%;
                            width:100%;
                            border:none;
                            font-family: inherit;
                            background:none;
                            color:white;
                            box-sizing: border-box;
                            padding-left:15px;
                            padding-right:15px;
                            padding-top:15px;
                            padding-bottom:15px;
                            font-weight: 100;
                            font-size:14px;
                            resize: none;
                            &::placeholder{
                                color:$light;
                                font-weight: 100;
                                font-size:14px;
      
                            }
                        }
                    }
                    &[data-tipo="boton"]{
                        width:120px;
                    }
                    & > .icono{
                        height:100%;
                        float:left;
                        width:28px;
                        box-sizing: border-box;
                        @include animacion(250ms,ease-in);
                        border-radius: 60%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
      
                        &[data-estado="focusOut"]{
                          border:solid 0.8px white;
                          color:white;
                        }
      
                        &[data-estado="focusIn"]{
                          border:solid 0.8px $enfasis;
                          color:$enfasis;
                        }
      
                        & > i{
                            font-size: 16px;
                            color:inherit;
                        }
                    }
                    & > .cubre-input{
                        width:calc(100% - 28px);
                        height:100%;
                        float:left;
                        position: relative;
      
                        & > input{
                            appearance: none;
                            outline:0;
                            height:100%;
                            width:100%;
                            border:none;
                            font-family: inherit;
                            background:none;
                            color:white;
                            box-sizing: border-box;
                            padding-left:15px;
                            padding-right:15px;
                            font-weight: 100;
                            font-size:14px;
                            &::placeholder{
                                color:$light;
                                font-weight: 100;
                                font-size:14px;
      
                            }
                        }

                        
                    }

                    & > .boton{
                        height:100%;
                        border-radius: 18px;
                        background-color:rgba($enfasis,.64);
                        padding-left:1px;
                        color:white;
                        cursor:pointer;
                        @include animacion(250ms,ease-in);
                        appearance: none;
                        outline:0;
                        border:none;
                        font-family:inherit;
                        &:hover{
                            box-shadow: 0px 0px 10px 1px rgba($enfasis,.75);
                            color:white;
                            background-color:rgba($enfasis,0.64);
                        }
                        & > .icono{
                            
                            box-sizing: border-box;
                            height:28px;
                            width:28px;
                            float:left;
                            border-radius: 60%;
                            //border:solid 1px rgba(white,.7);
                            display: flex;
                            align-items: center;
                            
                            justify-content: center;
                            & > i{
                                
                                font-size:15px;
                                color:inherit;
                            }
                        }
                        & > .label{
                            
                            height:100%;
                            display: flex;
                            align-items: center;
                            padding-left:5px;
                            padding-right:15px;
                            color:inherit;
                            font-weight: 300;
                            font-size:14px;
                            float:left;
                        }
                    }
                }
            }
        }
        
    }

    & > .marco-perfiles{
        padding-top:7px;
        padding-bottom:25px;
        height:125px;
        display: flex;
        align-items: center;
        justify-content: center;

        & > .perfil{
            height:100%;
            float:left;
            width:104px;
            margin-right:10px;
            margin-left:10px;
            cursor:pointer;

            @include animacion(250ms,ease-in);
            &:hover{
                

                & > .imagen{
                    background-color:rgba($enfasis,1);
                    transform:rotateY(180deg);
                    box-shadow: 0px 0px 15px 1px rgba($enfasis,.75);
                    animation: resplandor 2000ms ease-in infinite;
                    & > img{
                        transform:rotateY(180deg);
                    }
                }

                & > .label{
                    text-shadow: 0px 0px 5px rgba(white,0.7);
                }
            }

            & > .imagen{
                @include animacion(800ms,ease-in);
                height:104px;
                background-color:rgba(black,0.64);
                margin-bottom: 10px;
                overflow: hidden;
                box-sizing: border-box;
                padding:12px;
                border-radius: 60%;
                & > img{
                    @include animacion(800ms,ease-in);
                    border-radius: 60%;
                    @include img(100%,100%);
                }
            }

            & > .label{
                @include animacion(250ms,ease-in);
                font-weight: 300;
                font-size: 12px;
                text-align: center;
                color:white;
            }
        }
    }
    & > footer{
        height:30px;

        & > .controles{
            height:100%;
            display:flex;
            align-items:center;
            justify-content: center;

            & > .boton{
                height:100%;
                border-radius: 7px;
                background-color:rgba(black,.64);
                //border: solid 1px rgba(100,100,100,0.7);
                display:flex;
                align-items: center;
                padding-left:1px;
                color:white;
                cursor:pointer;
                @include animacion(250ms,ease-in);

                &:hover{
                    //border:solid 1px rgba(white,0.7);
                    box-shadow: 0px 0px 10px 1px rgba($enfasis,.75);
                    color:white;
                    background-color:rgba($enfasis,0.64);
                }
                & > .icono{
                    
                    box-sizing: border-box;
                    height:28px;
                    width:28px;
                    float:left;
                    border-radius: 60%;
                    //border:solid 1px rgba(white,.7);
                    display: flex;
                    align-items: center;
                    
                    justify-content: center;
                    & > i{
                        
                        font-size:15px;
                        color:inherit;
                    }
                }
                & > .label{
                    
                    height:100%;
                    display: flex;
                    align-items: center;
                    padding-left:5px;
                    padding-right:15px;
                    color:inherit;
                    font-weight: 300;
                    font-size:10px;
                    float:left;
                }
            }
        }
    }
}

@media (min-width:1600px) and (min-height:800px){
    @import "list-creator-1080";
}