#promo{
    overflow:hidden;

    & > .scroller{
        height:100%;
        left:0;
        width:500%;
        position:relative;

        & > .pagina{
            float:left;
            width:20%;
            height:100%;
            position:relative;
            & > .columna{
                float:left;
                width:50%;
                height:100%;
                position:relative;
                box-sizing: border-box;
                padding:40px;
                & .promo{
                    height:100%;

                    & > .titulo{
                        font-size:38px;
                        color:$enfasis;
                        line-height: 1.4;
                        font-weight: bold;
                        text-shadow: 0px 0px 16px rgba($enfasis,.7);
                        margin-bottom:32px;
                    }

                    & > .sinopsis{
                        font-size:20px;
                        font-weight: 300;
                        color:white;
                        //max-height: 70px;
                        line-height: 1.4;
                        margin-bottom:16px;
                        //overflow-y:auto;
                   }

                   & > .controles{
                       height:43px;

                       & > .boton{
                           float:left;
                           margin-right:13px;
                           height:43px;
                           width:43px;
                           border-radius: 24px;
                           
                           display: flex;
                           align-items: center;
                           padding-left:9px;
                           box-sizing: border-box;
                           
                           cursor:pointer;
                           @include animacion(250ms,ease-in);
                           &[data-estado="inactivo"]{
                                border:solid 2px white;
                                color:white;
                                &:hover{
                                    background-color:rgba(black,.64);
                                    color:$enfasis;
                                    border:solid 2px $enfasis;
                                
                                    
                                }
                                
                            }
                            &[data-estado="activo"]{
                                border:solid 2px $enfasis;
                                background-color:rgba(black,.64);
                                color:$enfasis;
                                box-shadow: 0px 0px 8px 2px rgba($enfasis,0.7);
                                
                            }

                           & > i{
                               color:inherit;
                               font-size:18px;
                           }

                          
                       }

                       & > .boton-long{
                            float:left;
                            margin-right:13px;
                            height:43px;
                            border-radius: 25px;
                            border:solid 2px white;
                            display: flex;
                            box-sizing: border-box;
                            padding-left:16px;
                            align-items: center;
                            color:white;
                            cursor:pointer;
                            @include animacion(250ms,ease-in);

                            & > figure{
                                float:left;
                                height:41px;
                                width:41px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                color:inherit;
                                & > i{
                                    color:inherit;
                                    font-size:18px;
                                }
                            }

                            & > .label{
                                float:left;
                                width:calc(100% - 41px);
                                font-size:18px;
                                padding-right:24px;
                                color:inherit;
                            }
                            

                            &:hover{
                                background-color:rgba(black,.64);
                                color:$enfasis;
                                border:solid 2px $enfasis;
                            }
                       }
                   }

                }

                & > .boton-play{
                    position:absolute;
                    height:161px;
                    width:161px;
                    top:calc(50% - 81px);
                    left:calc(50% - 81px);
                    border-radius: 95px;
                    border:solid 5px white;
                    box-sizing: border-box;
                    padding-left:47px;
                    display: flex;
                    align-items: center;
                    color:white;
                    cursor:pointer;
                    @include animacion(250ms, ease-in);
                    & > i{
                        font-size:73px;
                        color:inherit;
                    }

                    &:hover{
                        background-color:rgba(black,.64);
                        border:solid 5px $enfasis;
                        color:$enfasis;
                        box-shadow: 0px 0px 24px rgba($enfasis,.7);
                        animation:resplandor 2000ms ease-in infinite;
                    }
                }
            }
        }
    }
}