<div class="boton" data-component="controls" data-tam="mid" data-type="boton-c" data-action="rw-video">
    <i class="moviefinder-icons">rewind</i>
</div>
<div class="boton" data-component="controls" data-tam="big-fix" data-type="boton-c" data-action="play-video-r">
    <i class="moviefinder-icons">play</i>
</div>
<div class="boton" data-component="controls" data-tam="mid" data-type="boton-c" data-action="ff-video">
    <i class="moviefinder-icons">forward</i>
</div>